@model IEnumerable<NewsWebApp.Models.PostType>

@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>Home page</h1>
    <p class="lead">NEWS APPLICATION YOU CAN READ ANY ANYTHING HERE JUST LOGIN TO INTERACT WITH POSTS</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@foreach (var item in Model)

{
    <div class="panel panel-default">
    <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.ArticleType)</h1>

    <div class="row">
        @foreach (var subitem in item.Posts)
        {

        <div class="col-md-3 thumbnail" style="margin-left:20px;margin-bottom:30px; height:380px;">
            <img src="~/Uploads/@subitem.ArticleImage" style="width:380px;height:280px"/>
            <h3>@Html.DisplayFor(modelItem => subitem.ArticleTitle)</h3>
            
            @Html.ActionLink("Show Details", "Details", new { postId = subitem.PostId },new {@class = "btn btn-primary" }) 
        </div>

   

        }
     </div>

    </div>


 }

