@model IEnumerable<NewsWebApp.Models.Post>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="panel panel-default">
        <h1 class="panel-heading">Search Result</h1>

        <div class="row">
            @foreach (var subitem in Model)
            {

                <div class="col-md-3 thumbnail" style="margin-left:20px;margin-bottom:30px; height:380px;">
                    <img src="~/Uploads/@subitem.ArticleImage" style="width:380px;height:280px" />
                    <h3>@Html.DisplayFor(modelItem => subitem.ArticleTitle)</h3>

                    @Html.ActionLink("Show Details", "Details", new { postId = subitem.PostId }, new { @class = "btn btn-primary" })
                </div>



            }
        </div>

    </div>




